/* Mobile adjustments if needed */
@media screen and (max-width:500px) {
    /* Minimal adjustments can go here if needed */
}

@media screen and (max-width:900px) {
        /* ----------------------- */
    /* video details */
    /* ----------------------- */
    .vid-dt{
        padding: 24px !important;
        overflow-y: auto;
    }
    .video-bottom{
        gap: 24px;
        min-height: fit-content;
    }
    .video-desc{
        width: 100%;
    }
    .vid-ct{
        padding-bottom: 4px;
    }
    .comments{
        width: 100%;
        padding-bottom: 24px;
    }
    .video-bottom{
        flex-direction: column ;
    }
}